env/
ve/
__pycache__/
saved_features_and_models/
audiodata/
images/
images_1/
audiodata2/
audiodata3/
.ipynb_checkpoints/
env2/
env3/
docs/build/
docs/doc_layout.md
docs/Makefile
docs/make.bat
docs/source/auto_examples/
#docs/source/examples/
example_dir/
tests/testing_pypi/
test_audio/
compare_augmentations_right/
compare_augmentations_nine/
build/
*.npy
dev_env/
